= link_to admin_training_attachments_path, :class => 'btn btn-default pull-right margin-l-5' do
  %span.glyphicon.glyphicon-list-alt
  Назад

%h2.no-margin
  Создание
  = t 'activerecord.models.training_attachment.sozdanie'

%hr

= render 'form'
