<div class="offsetter-height google-adsense" style="padding: 10px 10px 0px 10px;">

  <div class="google">

    <!-- DandyGame нижний -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-4185048845754400"
         data-ad-slot="2705964575"
         data-ad-format="auto"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>

  </div>

</div>
