<div class="offsetter-height google-adsense">

  <div class="google">


    <!-- DandyGame верхний -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-4185048845754400"
         data-ad-slot="1229231371"
         data-ad-format="horizontal"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>

  </div>

</div>
