#signup.offset
  .content
    .offset


      .centered{ style: 'max-width: 650px; margin: 0 auto;'}
        %h1
          Спасибо!



      %p
        Большое спасибо за вашу поддержку! Будем создавать новые тренинги!

      %p
        Можете связаться со мной лично:
        %br
        %br
        sterjakov@mail.ru
        %br
        8 (916) 247-40-55
        %br
        Стержаков Игорь

      .space