%h2{ style: 'margin-top: 60px;' }
  Предупреждение!

%p
  %b> Внимание
  , если ты хочешь просто посмотреть на тренинг, и не готов(а) активно действовать и получать результаты,
  пожалуйста не трать свое время зря и просто закрой эту страницу!

.space

