
%h2{ style: 'margin-top: 60px;' }
  Как устроен онлайн-тренинг?

.how-it-work

  .shadow-up

  .offsetter-width


    .icon.crown
    %p.blue
      1) Ты регистрируешься и сразу после этого...



    .icon.email-send
    %p.grey
      2) На твой e-mail приходит ссылка! Открываешь ее и попадаешь на 1-ый день этого тренинга.



    .icon.glasses
    %p.red
      3) Внимательно читаешь день целиком и выполняешь все задание в красных рамочках!


    .icon.timer
    %p.grey
      4) Ждешь рассвета. 2-ой день автоматически станет доступным после 06:00 утра!


    %p.orange
      = '...'
      и так до финального 15-ого дня!

  .shadow-down

